{erl_opts,
 [warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_format,
  %%warn_missing_spec,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars,
  debug_info
 ]}.

{cover_enabled, true}.

{deps,
 []}.

{profiles, [
    {test, [
            {deps, [{jsx, "2.9.0"}]},
            {erl_opts, [nowarn_export_all]}
    ]}
]}.

{plugins, [
  {geas_rebar3, {git, "https://github.com/crownedgrouse/geas_rebar3.git", {branch, "master"}}},
  rebar3_hex
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.
